<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>TV Show Ratings</title>
    <meta charset="UTF-8">
    <meta name="description" content="X Gym Fitness HTML Template">
    <meta name="keywords" content="fitness, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="~/Content/img/favicon.ico" rel="shortcut icon" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Content/css/flaticon.css" />
    <link rel="stylesheet" href="~/Content/css/slicknav.min.css" />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="~/Content/css/style.css" />


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section">
        <a href="/" class="site-logo">
            <h4>TV Show Ratings</h4>
        </a>
        <ul class="main-menu">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/TVChannels/Index">TV Channels</a></li>
            <li><a href="/TVShows/Index">Shows</a></li>
            <li><a href="/Subscribers/Index">Subscribers</a></li>
            <li><a href="/Ratings/Index">Ratings</a></li>
            <partial name="_LoginPartial" />
        </ul>
    </header>
    <div class="clearfix"></div>
    <!-- Header section end -->
    <!-- Hero section -->
    <!-- Hero section end -->
    <!-- Feature section -->


    <div class="container-fluid">


        @RenderBody()

    </div>

    <!--====== Javascripts & Jquery ======-->
    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.slicknav.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/circle-progress.min.js"></script>
    <script src="~/Content/js/main.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
